﻿@model OnlineTicariOtomasyon.Models.Siniflar.Departman

@{
	ViewBag.Title = "DepartmanGetir";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Departman Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("DepartmanGuncelle", "Departman", FormMethod.Post))
{
	<div class="form-group">
		@Html.Label("Departman Adı:")
		@Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
		@Html.HiddenFor(x => x.DepartmanID)
	</div>

	<div class="form-row">
		<button class="btn btn-info"><i class="fa fa-undo"></i> Güncelle</button>
	</div>
}

